html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

hr {
    width: 90%;
}

body {
    background-color: #fefefe;
}

#mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #ffffff;
    opacity: .8;
    display: none;
}

#mask img {
    position: absolute;
    top: 50%;
    margin-top: -50px;
}

.heading {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    margin-top: .2em;
    margin-bottom: .2em;
}

header {
    margin: .2em;
    margin-left: 10%;
    width: 80%;
}

header select {
    width: 10em;
    height: 2em;
}

header input {
    height: 1.7em;
}

#btnStat {
    display: inline-block;
    width: 5em;
    height: 1.4em;
    text-align: center;
    border: 1px solid #999;
    margin-left: 5em;
    border-radius: .3em;
}

#btnStat:hover, #isTable:hover, #isChart:hover {
    cursor: pointer;
}

#gitPath {
    float: right;
    height: 1.7em;
    width: 15em;
    border: 1px solid #ddd;
}

#gitPath input {
    text-indent: .5em;
    width: 100%;
    height: 1.7em;
    border: none;
    color: #888;
}

section {
    margin-top: .5em;
    margin-bottom: 3em;
}

.title {
    width: 80%;
    height: 1.8em;
    margin: .4em auto;
}

.title span {
    height: 1.6em;
    line-height: 1.6em;
    text-align: center;
}

.title-left {
    float: left;
    margin-left: .5em;
}

.title-right {
    float: right;
    border: 1px solid #aaa;
    width: 8em;
    padding: .1em;
}

.title-right span {
    display: inline-block;
    width: 46%;
}

.title-right-table {
    background-color: #ccc;
}

table {
    margin: 0 auto;
    width: 80%;
    border: 1px solid #ccc;
}

table thead {
    background-color: #999;
    text-align: center;
    font-weight: bold;
}

table thead tr {
    height: 2.4em;
}

table thead tr td {
    width: 10%;
}

table thead tr td:nth-child(1) {
    width: 4%;
}

table thead tr td:nth-child(2) {
    width: 18%;
}

table thead tr td:nth-child(7), table thead tr td:nth-child(8) {
    width: 19%;
}

table tbody tr {
    height: 1.8em;
}

table tbody tr:nth-child(2n) {
    background-color: #eee;
}

table tbody tr td {
    text-align: right;
}

table tbody tr td:nth-child(1) {
    text-align: center;
    background-color: #ccc;
}

table tbody tr td:nth-child(2) {
    text-align: left;
}

#chartStat {
    margin: 0 auto;
    width: 80%;
    height: 550px;
    display: none;
    border: 1px solid #ddd;
}

#dailyPanel {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
}

#detailMask {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .9;
    background-color: #fff;
}

#detailStat {
    position: relative;
    width: 60%;
    height: 400px;
    margin: 0 auto;
    top: 50%;
    margin-top: -200px;
    border: 1px solid #aaa;
}

footer {
    text-align: center;
    font-size: .8em;
    color: #999;
    margin-top: 2em;
    margin-bottom: 2em;
}